<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCueRIH0Pd2oLajn0Crx0hcTEAj0bYk6xo</string>
	<key>GCM_SENDER_ID</key>
	<string>198873586173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.plantHubProject</string>
	<key>PROJECT_ID</key>
	<string>smartfarm-6a1bf</string>
	<key>STORAGE_BUCKET</key>
	<string>smartfarm-6a1bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198873586173:ios:b58317bd21469c7c542194</string>
</dict>
</plist>